In [1]:
#import dependencies
import pandas as pd
import os

In [2]:
#load in CSV file
vine_df = pd.read_csv('vine_table.csv')
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RTIS3L2M1F5SM,5,0,0,N,Y
1,R1ZV7R40OLHKD,5,0,0,N,Y
2,R3BH071QLH8QMC,1,0,1,N,Y
3,R127K9NTSXA2YH,3,0,0,N,Y
4,R32ZWUXDJPW27Q,4,0,0,N,Y

In [3]:
# Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes 
#count is equal to or greater than 20
filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
289,R3EZ0EPYLDA34S,1,14,31,N,Y
483,R2FJ94555FZH32,2,55,60,N,N

In [4]:
#Retrieve all the rows where the number of helpful_votes divided by total_votes is equal 
#to or greater than 50%.
helpful_reviews_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]
helpful_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [5]:
#Retrieves all the rows where a review was written as part of the Vine program (paid)
vine_reviews = helpful_reviews_df[helpful_reviews_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
32611,R3KKUSGFZWSUIY,5,56,63,Y,N
33112,R10FO5UKKVZBK2,3,23,23,Y,N
69680,RM4KSGEOR7MU1,5,19,24,Y,N
155361,RG7VRMYLEXD23,4,22,26,Y,N
239327,R11O4YSCPSNL6L,3,20,26,Y,N

In [6]:
#Retrieves all the rows where the review was not part of the Vine program (unpaid)
non_vine_reviews = helpful_reviews_df[helpful_reviews_df['vine'] == 'N']
non_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
55,R4PKAZRQJJX14,1,21,34,N,N
74,R2CI0Y288CC7E2,1,21,35,N,Y
209,R127WEQY2FM1T3,1,147,175,N,Y
483,R2FJ94555FZH32,2,55,60,N,N
537,R1U3AR67RE273L,1,51,65,N,Y

In [7]:
#Total number of Vine reviews (paid)
count_vine = len(vine_reviews)
count_vine

94

In [8]:
#number of 5-star Vine reviews (paid)
max_rating_vine = len(vine_reviews[vine_reviews['star_rating']==5])
max_rating_vine

48

In [9]:
#Percentage of 5-star Vine reviews (paid)
max_rating_vine/count_vine

0.5106382978723404

In [10]:
#total number of non-Vine reviews (unpaid)
count_nonvine = len(non_vine_reviews)
count_nonvine

40471

In [11]:
#number of 5-star non-Vine reviews (unpaid)
max_rating_nonvine = len(non_vine_reviews[non_vine_reviews['star_rating']==5])
max_rating_nonvine

15663

In [12]:
#Percentage of 5-star non-Vine reviews (unpaid)
max_rating_nonvine/count_nonvine

0.38701786464381904